<nav class="navbar shadow-sm navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand mr-5" routerLink="/home">
            <i class="fa fa-pagelines mr-2" aria-hidden="true"></i>AGGROW
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="insights">Insights</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="about">About</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="contact-us">Contact Us</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="team"><i class="fa fa-smile-o mr-2" aria-hidden="true"></i>Meet the team</a>
            </li>
          </ul>
        </div>
    </div>
</nav>