<div class="container p-0">
    <nav class="navbar navbar-expand-lg navbar-dark text-light d-flex flex-column-reverse flex-md-row justify-content-between align-items-center">
        <h6 class="mr-0 mr-md-5 my-0" routerLink="/home">© 2020 AGGROW</h6>
        <div class="social-media">
            <button type="button" class="btn btn-light mr-3" title="+91 8056209054" href="tel:8056209054"><i class="fa fa-phone"></i></button>
            <button type="button" class="btn btn-light mr-3" href="mailto:santhoshs1998@gmail.com?subject=AGGROW%20reg"><i class="fa fa-envelope"></i></button>
            <!-- <button type="button" class="btn btn-light mr-3"><i class="fa fa-linkedin"></i></button> -->
            <button type="button" class="btn btn-light" href="https://github.com/santhoshvenkateswaran/aggrow"><i class="fa fa-github"></i></button>
        </div>
    </nav>
</div>