<div class="container px-0 pb-3">
    <div class="row px-0">
        <div class="col-12 jumbotron mx-0 mt-0 shadow-sm">
            <h1>What we do</h1>
            <h6>How do we predict crops?</h6>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-5 text-justify mr-0 mr-md-5">
            <p>This application is a user-friendly recommendation system for predicting the perfect crop according to
            </p>
            <ul class="list-unstyled pl-4">
                <li><i class="mr-3 fa fa-tint" aria-hidden="true"></i>Rainfall</li>
                <li><i class="mr-3 fa fa-thermometer-three-quarters" aria-hidden="true"></i>Temperature</li>
                <li><i class="mr-3 fa fa-fire" aria-hidden="true"></i>Ph</li>
            </ul>
            <p>in your desired land.</p>
        </div>
        <div class="col-12 col-md-5 text-justify">
            <p>This application uses a supervised Machine Learning Ensemble Model comprising of 3 algorithms:</p>
            <ul>
                <li>Support Vector Classifier</li>
                <li>Decision Tree</li>
                <li>Gradient Boosting</li>
            </ul>
        </div>
        <div class="col-12 col-md-7 mt-5 mx-auto">
            <div class="jumbotron m-0 text-justify">
                <p> This is an end-to-end app with an aesthetically simple UI in which the user enters the values for the
                    conditions (Rainfall, temperature & pH) and the three top-most suitable crops are displayed.</p>
            </div>
        </div>
    </div>
</div>