<div class="container px-0 pb-3">
  <div class="row px-0">
    <div class="col-12 jumbotron mx-0 mt-0 shadow-sm">
      <h1>Who We Are</h1>
      <h6>Together, we engineer.</h6>
    </div>
  </div>
  <div class="row d-flex">
    <div class="row col-12 col-lg-11 cards-team d-flex mx-auto justify-content-between align-items-center">
      <div class="person col-12 col-md-6 d-flex flex-column align-items-center p-3">
        <div class="touch d-flex align-items-center">
          <a role="button" class="btn btn-dark mr-3" target="_blank"
            href="http://www.linkedin.com/in/santhoshvenkateswaran/"><i class="fa fa-linkedin"></i></a>
          <a href="https://imsanthosh.xyz/" target="_blank">
            <img src="assets/team/Santhosh.jpg" class="rounded-circle mb-3 shadow" alt="Santhosh">
          </a>
          <a role="button" class="btn btn-dark ml-3" href="mailto:hello@imsanthosh.xyz?subject=AGGROW%20reg"><i
              class="fa fa-envelope"></i></a>
        </div>
        <div class="text-center">
          <h4>Santhosh Venkateswaran S</h4>
          <h6>B. Tech Software, SRM IST</h6>
        </div>
      </div>
      <div class="person col-12 col-md-6 d-flex flex-column align-items-center p-3">
        <div class="touch d-flex align-items-center">
          <a role="button" class="btn btn-dark mr-3" target="_blank"
            href="https://www.linkedin.com/in/sandhiyaa-b-y-15636a154/"><i class="fa fa-linkedin"></i></a>
          <img src="assets/team/Sandhya.jpg" class="rounded-circle mb-3 shadow" alt="Sandhya-img"
            href="mailto:sandhiyaabalu@gmail.com?subject=AGGROW%20reg">
          <a role="button" class="btn btn-dark ml-3" href="mailto:sandhiyaabalu@gmail.com?subject=AGGROW%20reg"><i
              class="fa fa-envelope"></i></a>
        </div>
        <div class="text-center">
          <h4>Sandhiyaa B Y</h4>
          <h6>B. Tech Software, SRM IST</h6>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9 text-center mt-5 mx-auto">
      <div class="jumbotron m-0 text-justify py-3 px-5">
        <p class="text-dark m-0 p-0"> We are two software engineering undergrads, from SRM IST KTR, making this
          project
          that would directly be useful to the society. Considering the agricultural situation in our country,
          more focus and innovation is imperative for this industry. This needs to be done with quality
          knowledge and resources. This project was one such initiative, as we had the time, guidance and
          resources to make a system that would be of technological assistance to the biggest economical
          sector of this country.</p>
      </div>
    </div>
    <div class="col-12 col-lg-9 cards-team my-5 mx-auto">
      <div
        class="person col-12 col-lg-10 d-flex flex-column flex-lg-row justify-content-center align-items-center mt-5 mx-auto p-3">
        <h4 class="text-right">Our Guide</h4>
        <img src="assets/team/Anupama.jpg" class="rounded-circle mx-auto mx-lg-3 my-3 my-lg-auto">
        <div class="text-center text-lg-left">
          <h4>Anupama C G</h4>
          <h6>Assistant Professor, SRM IST</h6>
          <!-- <h6>anupamag@srmist.edu.in</h6>
                    <h6>+91 96771 33931</h6> -->
        </div>
      </div>
    </div>
  </div>
</div>
